<div class="mainContainer">
    <h1>0</h1>
    
    <div class="buttonContainer">

        <div class="buttonStatus">
            <span>Setup</span>
            <button class="btn btn-primary">start</button>
            <button class="btn btn-primary">pause</button>
            <button class="btn btn-primary">reset</button>
        </div>

        <div class="buttonSteps">
            <span>Steps</span>
            <button class="btn btn-primary">count up</button>
            <button class="btn btn-primary">count down</button>
        </div>

    </div>
    <div class="inputContainers">

        <div class="setContainer">
            <span>Set to</span>
            <input type="number">
        </div>

        <div class="setStep">
            <span>Step</span>
            <input type="number">
        </div>

    </div>
</div>
